.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
  position: absolute;
  margin-left: 285px;
  width: 20px;
}

.auth-wrapper{
    background-image: url(image_path('login_bg.jpg'));
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
    display: grid;
    background-size: cover;

}

.auth-top {
    display: table-row;
    color: #a1b5c1;
    height: 64px;
}

.auth-top-left {
    float: left;
}

.auth-top-right {
    float: right;
    padding-top: 30px;
    padding-right: 20px;
}

.auth-top-right .nav a {
    float: left;
    color:#a1b5c1;
    padding: 0px 10px;
}

.auth-top-right .nav a:hover,
.auth-top-right .nav a.active {
    color:#b4cad6;
}

.auth-top-right .nav a.active {
    text-decoration: underline;
    
}


.auth-top .logo {
    padding-top: 20px;
    margin-left: 20px;
}


.auth-top .logo img {
    max-width: 200px;
}

#auth-lg-ddm {
    float: right;
    margin-left: 20px;
}    

#auth-lg-ddm select {
    background: transparent;
    color: #a1b5c1;
    border-color: #a1b5c1;
}

.auth-container{
    margin: auto;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    padding-bottom: 60px;
}

.auth-sub-container {
    margin: auto;
    background-color: #29363e;
    max-width: 500px;
    padding: 20px 40px;
    color:#fff;
}
.auth-container .auth-logo{
    padding-top: 17px;
    margin-bottom: 30px;
    width: 100%;;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.auth-logo img{
    width: 100%;
}

.auth-sub-container h2{
    font-size: 20px; 
    text-align: center;
    padding-bottom: 20px;
}

.auth-data {
    font-size: 15px;
}

.auth-data input{
    border: 1px solid #7d8e98;
    background-color: transparent;
    color: #a1b5c1;
    height: 38px;
    width: 100%;
    padding-left: 5px;
}
.auth-data label{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.auth-data input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*Forms*/

.btn-lg {
    height: 56px;
    font-size: 18px;
}

.radio, .checkbox {
	margin-left:20px;
}

#foobot-wrapper {
	background: #3f657d;
	padding: 15px;
	border-radius: 4px;
	cursor:pointer;
}

#foobot-wrapper:hover {
	background: #45718e;
}

#foobot {
	float:left;
	padding-right:15px;
}

#foobot input[type=checkbox] {
    height: auto;
}

.auth-data .submit {
  margin-top: 20px;
  height: 56px;
  font-size: 18px;
  background-color: #e8963f;
  border-color: transparent;
  color: #fff;
}


/*Foter*/

.auth-footer {
    color: #a1b5c1;
    text-align: center;
    margin-top: 40px;
}

.auth-footer ul {
    padding-left: 0px;
}

.auth-footer li {
  display: inline-block;
  padding: 10px 7px;
    
}


@media screen and (max-width:480px){

    .auth-top {
        padding-bottom: 20px;
    }

    .auth-top-right {
        float: left;
        width: 100%;
    }

    .auth-container {
        padding-top: 20px;
    }

}

