
.negative {
  color: #ff2d12 !important;
}

.positive {
  color: #1be480!important;
}

.ask_color {
  color: #ff2d12 !important;
}

.bid_color {
  color: #1be480!important;
}

.positive24 {
  color: #1be480!important;
  
}

.positive24:after{
  content: '%';
}


/* traiding container */
.trading-container-bottom{
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

/*All Features */

.feature {
  background: #29363e;
  box-shadow: 0 7px 13px -10px rgba(0,0,0,0.86), 0 0px 8px 0px rgba(0,0,0,0.32);
  min-height: 300px;
  height: 100%;
  margin: auto .30%;
  margin-top: 15px;
  display:inline-block;
  position: relative;
}

.feature-header {
  font-size: 18px;
  color: #a1b5c1;
  border-bottom: 1px solid #7d8e98;
  padding: 10px;
  float: left;
  width: 100%
}

.feature-title {
  text-align: left;
}

.split div:first-child{
  float: left;
}

.split div:nth-child(2) {
  float: right;
  text-align: right;
}

.split .header-pill a {
  color: #7d8e98;;
  font-size: 14px;
  padding: 0px 5px;
}

.split .header-pill a.active {
  color: #98bfc3;
  text-decoration: underline;
  pointer-events: none;
}

.split .header-pill a:hover {
  color: #98bfc3;
  text-decoration: none;
}

.control {
  font-size: 1rem;
  position: relative;
  text-align: left;

}

.control2 {
  font-size: 1rem;
  position: relative;
  text-align: left;
  max-width: 90%;
  margin: auto;
}

.feature input {
  border: 1px solid #7d8e98;
  border-radius: 4px;
  background-color: transparent;
  color: #a1b5c1;
  width: 100%;
  padding: 6px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a1b5c1;
  opacity: 1;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a1b5c1;
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: #a1b5c1;
}

.custom_checkbox input{
  width: 25px;

}

.feature input:hover {
  border: 1px solid #7d8e98;
}

img.icon-title{
  margin-bottom: 5px;
  height: 18px;
  width: 18px;
}

.feature-header input[type="text"] {
  height: 25px;
  font-size: 10px;
}


.feature-header input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:  #7d8e98;
  opacity: 1; /* Firefox */
}

.card_bototm_link{

  text-align: right;
  display: block;
  position: absolute;
  bottom: 25px;
  right: 10px;
}


/*tabs*/

.tabs {
  overflow-x: hidden;
}

.tabs.is-boxed {
  overflow-x: hidden;
  float:left;
  width:100%;
}

.tabs ul {
  border-bottom-color: #7d8e98;
}

.tabs.is-boxed a {
  align-items: center;
  border-color: #7d8e98;
  color: #7d8e98;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: .5em 1em;
  vertical-align: top;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12.5px;
}

.tabs.is-boxed a:hover {
  background-color: #3552516e;
  border-bottom-color: #7d8e98;
}

.tabs.is-boxed li.active a {
  background-color: #3c656f;
  color: #eaeaea;
  border-color: #7d8e98;
  border-bottom-color: transparent!important;
}

.tabs ul {
  border-bottom-color: #7d8e98;
}
.tabs ul {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
}
ul {
  list-style: none;
}

.tabs.is-boxed a {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}


input[type=number]{

    -moz-appearance:textfield;

  .number_spinner::-webkit-outer-spin-button,
  .number_spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}

/*All Feature Tables*/

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #dddddd;
}


.feature table {

  width: 98%;
  margin: auto;

}

.feature table.table > tbody + tbody {

  border-top: 0px;
  text-align: left;

}

.feature table.table > tbody > tr > td {
  text-align: left;
}

.feature table td {
  font-size: 12px;
  color: #c4d8cf;
  padding: 5px 5px;
  //cursor: pointer;
}

.feature table th {
  font-size: 12px;
  color: #a1b5c1;
  white-space: nowrap;
  padding: 8px 3px;
  border-bottom: 1px solid #7d8e98;
  font-weight: bold;
}

.feature table th .sort {
  position: relative;
  left: 0px;
  top: 3px;
}

.feature table th .sort i.active {
  color:rgb(55, 171, 206);
}

.feature table th .sort i {
  position: absolute;
}



.feature table tr.active td {
  background: #3c656f !important;
}

.feature table tr.bought td {
  background: #24b7405e !important;
}

.feature table tr.sold td {
  background: #ce4f3d4f !important;
}


/*Balances*/

#balances{
  float: none;
  display: inline-block;
  width: 12%;
  min-width: 220px;
  vertical-align: top;
  min-height: 552px;
}

#balances th {
  text-align: right;
}


#balances td {
  text-align: right;
}


#balances tr td:first-child,
#balances tr th:first-child {
  text-align: left;

}

#balances tr td:last-child,
#balances tr th:last-child {
  text-align: center;

}

#balances td:last-child i,
#balances th:last-child i  {
  padding: 0px 5px;
}


/*Ticker*/
#ticker2{
  float: none;
  display: inline-block;
  width: 16%;
  min-width: 290px;
  vertical-align: top;
  min-height: 552px;
}

/*Chart*/

#tv_chart_container{
  height: 540px;

}

#chart {
  width: 39.5%;
  float: left;;
}

.chart-div{
  display: inline-block;
  width: 38%;
  min-width: 264px;
  min-height: 552px;
  vertical-align: top;
}

.chart-div #candlestick_tv{
  height: 552px;
}

.chart-div img {
  height: auto;
  max-width: 100%;
}

/*Order forms*/
#order-form-buy{
  float: none;
  display: inline-block;
  width: 15%;
  min-width: 264px;
  min-height: 552px;
  vertical-align: top;
}

#order-form-sell {
  float: none;
  display: inline-block;
  width: 15%;
  min-width: 264px;
  min-height: 552px;
  vertical-align: top;
}


.custom_checkbox {
  text-align: left;
  margin-bottom: 10px;
}

.price-value{
  display: inline;
}

.of-container {
  font-size: 13px;
  color: #7db4c1;
  margin: auto;
  padding: 12px 10px;
}

.of-info {
  padding-bottom: 10px;
  margin-top: 45px;
}

.of-container .of-inputs {
  padding-bottom: 15px;
}

.of-row {
  padding: 0px 0px 7px 0px;
  text-align: left;
}

.of-label {
  display: inline-block;
  min-width: 65px;
}

.of-qty {
  display: inline-block;
  font-weight: bold;
  /* float: right; */
}

.of-container input[type="number"] {
  border: 1px solid #7d8e98;
  background-color: transparent;
  color: #a1b5c1;
  height: 35px;
  font-size: 11px;
  margin-bottom: .75rem
}

.spinner_box {
  text-align: left;
}

.spinner_box_number input {
  width: 100%;
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.375em - 1px);
  padding-left: .75em;
  padding-right: .75em;
  padding-top: calc(.375em - 1px);
  text-align: center;
  white-space: nowrap;
}

.center {
  text-align: center;
}


.buttons .btn:not(:first-child) {
  margin-left: 7px;
}

.btn-lg {
  height: 50px;
  font-size: 20px;
}

.btn-block {
  width: 100%;
}

.btn-green {
  background-color: #1be480;
  border-color: transparent;
  color: #29363e;
}

.btn-red {
  background-color: #f15858;
  border-color: transparent;
  color: #e8d5de;
}

.btn-dark {
  background-color: #3e6c77;
  border-color: transparent;
  color: #b5d6d6;
}

/*ORDERS*/

/*Orders Table*/

#orders2{
  height: auto;
  display: inline-block;
  vertical-align: top;
  min-height: 780px;
  width: 37.5%;
  min-width: 364px;
}

#orders2 .column{
  display: inline-block;
}

#orders2 .feature-table {
  width: 98%;
  margin: auto;

}

#orders2 .feature-table .column {
  font-size: 10px;
  color: #e3fcf1;
  padding: 5px 5px;
  cursor: pointer;
}

#orders2 .order-pair-row {
  margin: 0;
}

@media screen and (max-width:820px){
  #orders2{
    min-height: 300px;
    height: auto;
  }
}

.pairSwitch, .allSwitch{
  background-color: #ce662ead;
  color: #ececec;
  font-size: 9px;
  padding: 5px;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}
.pairSwitch{
  display: none;
}


/*Orderbook*/

#orderbook {
  width: 34.5%;
  float: left;
  /* height: 100%; */
  /* height: 766px; */
}


#orderbook2{
  height: auto;
  display: inline-block;
  vertical-align: top;
  min-height: 780px;
  width: 40%;
  min-width: 418px;

}

#orderbook2 tbody{
  background-color: #29363e;
}

#orderbook2 th, #orderbook2 td {
  text-align: center;
}

#orderbook2 .table>tbody>tr>td {
  padding: 3px 5px;
  font-size: 14px;
}


/*Trades*/

#trades .table>tbody>tr>td {
  padding: 3px 5px;
  font-size: 14px;
}

#trades td, #trades th {
  text-align: right;
  width: 33%;
  padding-right: 15px;
}

#market_trades_wrapper2{
  height: auto;
  min-width: 234px;
  display: inline-block;
  vertical-align: top;
  min-height: 780px;
  width: 20%;
}

#market_trades_wrapper2 .table tr:nth-child(2n+1) {
  border-style: hidden;
}

#tb-trades i {
  font-size: 12px;
}

#tb-trades .fa-angle-down {
  color: #c84332;
}

#tb-trades .fa-angle-up {
  color:#00b36b;
}


#market_trades_wrapper2 .circle{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: grey;
}
#market_trades_wrapper2 .increaseC{
  background-color: green;
}
#market_trades_wrapper2 .decreaseC{
  background-color: red;
}


#market_trades_wrapper2 .increase{
  color: green;
}
#market_trades_wrapper2 .decrease{
  transform: rotate(180deg);
  color: red;
}
#market_trades_wrapper2 .lowbuy{
  background-color: rgba(99, 189, 109, 0.18);
}
#market_trades_wrapper2 .mediumbuy{
  background-color: rgba(99, 189, 77, 0.28);
}
#market_trades_wrapper2 .highbuy{
  background-color: rgba(99, 189, 77, 0.38);
}
#market_trades_wrapper2 .lowsell{
  background-color: rgba(243, 36, 36, 0.18);
}
#market_trades_wrapper2 .mediumsell{
  background-color: rgba(243, 36, 36, 0.28);

}
#market_trades_wrapper2 .highsell{
  background-color: rgba(243, 36, 36, 0.38);
}

.trades_yours{
  display: none;
}

@media screen and (max-width:820px){
  #market_trades_wrapper2{
    min-height: 300px;
    height: auto;
  }
}


//MODAL

.fade {
  opacity: inherit;
}
.modal {
  display: none;
}

.modal.fade .modal-dialog {
  transform: none;
}

.modal-header, .modal-footer {
  background: #445561;
}
.modal-header {
  color: #a1b5c1;
  text-align: left;
}

.modal-body {
  padding: 20px 0px;
  background: #29363e;
  color: #7db4c1;
}

.modal-header, .modal-footer {
  background: #445561;
}

.modal .close {
  color: #a1b5c1;
  opacity: 1;
  text-shadow: none;
}

.modal h4 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
}

.modal input {
  color: #fff;
  min-width: 2.25em;
  background-color: transparent;
  border: 1px solid #7d8e98;
  padding: 5px;
  border-radius: 4px;
}

.col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}



/*Features Responsive*/

@media screen and (max-width:1840px){
  .chart-div {
    width: 62%;
  }

  #ticker2 {
    width: 20%;
  }

  #balances {
    width: 15%;
  }

  #orders2 {
    float: left;
    min-height: 550px;
    width: 35.8%;
    min-width: 524px;
  }

  #order-form-buy {
    width: 30.75%;
  }

  #order-form-sell {
    width: 30.75%;
  }

  #orderbook2 {
    width: 67.2%;
  }

  #market_trades_wrapper2 {
    width: 30.8%;
  }


}

@media screen and (max-width:1465px){
  .chart-div {
    width: 99%;
  }

  #ticker2 {
    width: 49%;
  }

  #balances {
    width: 49%;
  }

  #orders2 {
    float: none;
    min-height: inherit;
    padding-bottom: 5px;
    width: 99%;
  }

  #order-form-buy {
    width: 49%;
  }

  #order-form-sell {
    width: 49%;
  }

  #orderbook2 {
    width: 67.2%;
  }

  #market_trades_wrapper2 {
    width: 30.8%;
  }


}

@media screen and (max-width: 1052px){
  .chart-div {
    width: 100%;
  }

  #orders2 {
    float: none;
    min-height: inherit;
    padding-bottom: 5px;
    width: 100%;
  }

  #order-form-buy {
    width: 49%;
  }

  #order-form-sell {
    width: 49%;
  }

  #orderbook2 {
    width: 100%;
  }

  #market_trades_wrapper2 {
    width: 100%;
  }


}

@media screen and (min-width:767px){
  .feature-title {
    pointer-events: none;
  }

  /*cancelling collapse when expanding screen from mobile to desktop*/

  .feature .collapse {
    //display: block!important;
    //height: auto!important;
  }

  .fh-collapsed .header-pill {
    display: inline-block!important;
  }

}

@media screen and (max-width:767px){

  /*all features*/

  .feature {
    min-height: auto!important;
  }

  .fa-chevron-up.mobile-sm {
    display: inline-block!important;
  }

  .collapsed  .fa-chevron-up {
    transform: rotate(180deg);
  }

  .split  .header-pill {
    width: 100%!important;
    text-align: center!important;
    background: #4a555d;
    margin-top: 5px;
  }


  /*each feature*/

  .chart-div {
    width: 100%;
  }

  #ticker2 {
    width: 100%;
  }

  #balances {
    width: 100%;
    min-height: auto;
  }

  #orders2 {
    float: none;
    width: 100%;
    min-width: auto;
  }

  #order-form-buy {
    width: 100%;
  }

  #order-form-sell {
    width: 100%;
  }

  #orderbook2 {
    width: 100%;
    min-width: auto;
  }

  #buy-ob tr td:first-child,
  #buy-ob tr th:first-child,
  #buy-ob tr td:nth-child(3),
  #buy-ob tr th:nth-child(3)


  {
    display: none;
  }

  #sell-ob tr td:nth-child(2),
  #sell-ob tr th:nth-child(2),
  #sell-ob tr td:nth-child(4),
  #sell-ob tr th:nth-child(4)


  {
    display: none;
  }

  #market_trades_wrapper2 {
    width: 100%;
  }


}

@media screen and (max-width:480px){
  /*orders2 table*/
  .tb-orders2-header.columns .column:nth-child(2),
  .order-pair-header.columns .column:nth-child(2),
  .order-pair-row.columns .column:nth-child(2) {
    min-width: auto!important;

  }

  #orders2 .feature-table .column {
    font-size: 11px;
  }

}
