<p style="color:#078ABA; font-size:15px; margin-top:-25px;">
  <%= t('mailer.client_uuid') %> <%= @client_uuid %>
</p>

<p style="margin-top:50px; margin-bottom:180px; ">
  <span style="color:#078aba;font-size:30px;font-weight: 500;"> <%= t(".google_auth_deactivated") %> </span><br/>
  <span style="color:#5F5F5F; font-weight: 500"><%= t(".tip") %> </span>
</p>

