<p style="color:#078ABA; font-size:15px; margin-top:-25px;">
  <%= t('mailer.client_uuid') %> <%= @client_uuid %>
</p>

<p style="color:#078aba;font-size:30px; line-height: 100%; margin-top:100px; margin-bottom:150px;">
  <%= t("mailer.congratulation") %><br/>
  <%= t(".google_auth_activated") %>
</p>

