<p style="color:#078ABA; font-size:15px; margin-top:-25px;">
  <%= t('mailer.client_uuid') %> <%= @client_uuid %>
</p>

<p style="font-size:40px; line-height: 100%; margin-bottom:200px;margin-top:80px;">
  <span style="color:#078aba;"><%= t(".congratulations") %></span><br/>
  <span style="color:#078aba;"><%= t(".successful") %></span>
</p>
