/*FOOTER */

#footer {
  padding: 15px 10px;
  color: #7db4c1;
  border-top: 1px solid #a1b5c1;
  margin-top: 10px;
}

#footer a {
  font-size: 14px;
  display: block;
}

.footer-links {
  text-align: left;
  float: left;
  padding-left: 15px;
}

.footer-right {
  text-align: right;
  padding-right: 15px;
  float: right;
}

#footer #lg-ddm select{
  background: transparent;
  border: 1px solid #a1b5c1;
  color: #a1b5c1;
}


.copyright {
  text-align: center;
  display: block!important;
  color: #7db4c1;
}

.support-time{
  text-align: center;
  display: block!important;
  color: #7db4c1;
}

