<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="account.currency == 'brl'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>
<ng-include ng-if="account.currency == 'btc'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>
<ng-include ng-if="account.currency == 'bch'" src="'/templates/funds/_deposit_coin_bch.html'"></ng-include>
<ng-include ng-if="account.currency == 'btg'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>
<ng-include ng-if="account.currency == 'dash'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>

<ng-include ng-if="account.currency == 'eth'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>
<ng-include ng-if="account.currency == 'zec'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>
<ng-include ng-if="account.currency == 'dgb'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>
<ng-include ng-if="account.currency == 'xrp'" src="'/templates/funds/_deposit_coin_ripple.html'"></ng-include>
<ng-include ng-if="account.currency == 'smart'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>

<ng-include ng-if="account.currency == 'iota'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>
<ng-include ng-if="account.currency == 'ltc'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>
<ng-include ng-if="account.currency == 'zcr'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>
<ng-include ng-if="account.currency == 'tusd'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>
<ng-include ng-if="account.currency == 'xem'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>
<ng-include ng-if="account.currency == 'rbtc'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>
<ng-include ng-if="account.currency == 'rif'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>
<ng-include ng-if="account.currency == 'xar'" src="'/templates/funds/deposit_coinTemplate.html'"></ng-include>